@model DNetProject.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/home.css">
<div class="jumbotron">
    <h1>IGags</h1>
    <p class="lead">Miejsce w którym zaczyna się zabawa.</p>
</div>
<div class="gag-section" id="gag-section">

    @foreach (var item in Model.pictureList)
    {
        <div class="gag-object">
            <a target="_blank" href="@Url.Action("Gag", "Gag", new {gagId = item.id})">
                <span class="gag-title">@Html.DisplayFor(modelItem => item.title)</span><br />
            </a>

            <img class="gag-picture" src="~/UserGagImages/@Html.DisplayFor(modelItem => item.img)" style="width: 460px"> <br />
            <div class="category-delete">

                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="delete-flex">
                            <a onclick="return confirm('Are you sure?')" href=@Url.Action("DeleteGag", "Home", new {gagId = item.id}) class="fas fa-times fa-2x" style="color: red;"></a>
                        </div>
                    }
                }

            </div>

            <div id="@item.id">
                <div class="gag-points" id="gag-points">
                    <span class="gag-points">@Html.DisplayFor(modelItem => item.rating) points</span><br />
                </div>

            </div>
        </div>
        <hr style="border-color: #383636;" />
    }
</div>