@model DNetProject.Models.HomeModel

<div class="comment-section" id="comment-section">

    @foreach (var item in Model.pictureComments)
    {
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commentText">
                        <span class="date sub-text">@Html.DisplayFor(modelItem => item.Users.username)</span>
                        <p>@Html.DisplayFor(modelItem => item.text)</p>
                    </div>
            </ul>
        </div>
    }
</div>
